---
import '@src/main.css';
import Card from '@src/components/card.astro';
import { Maximize, LogOut, RotateCw } from 'lucide-astro';
import type { Asset } from '@src/utils/as';
import fs from 'fs/promises';
import path from 'path';
const JsonPath = path.resolve('./public/assets/json/ap.json');
let apps: Asset[];

try {
  const data = await fs.readFile(JsonPath, 'utf8');
  apps = JSON.parse(data);
} catch (err) {
  apps = [];
  throw new Error('Error reading the json file:' + err);
}
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
    rel="stylesheet"
  />
  <title>Home</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <script is:inline src="/bm/index.js"></script>
  <script is:inline src="/assets/v/config.js" defer></script>
  <script is:inline src="/assets/v/bundle.js" defer></script>
  <link rel="prefetch" href="/assets/sj/worker.js" />
  <link rel="prefetch" href="/assets/sj/shared.js" />
  <script is:inline src="/assets/sj/controller.js" defer></script>
</head>
<body>
  <p class="text-text-HEADER uppercase text-center mt-10 text-4xl font-bold">
    Apps
  </p>

  <input id="input" />

  <div class="mt-5 flex h-45" id="section">
    <Card games={apps} />
  </div>

  <div
    class="hidden fixed inset-0 bg-background-overlay shadow-lg p-5 z-50"
    id="game-frame"
  >
    <div class="flex justify-end items-center gap-4 mb-4">
      <button
        class="text-[#a5adce] hover:text-white px-4 py-2 rounded transition duration-150 transform hover:scale-110"
        id="rotate"
      >
        <RotateCw class="w-6 h-6" />
      </button>
      <button
        class="text-[#a5adce] hover:text-white px-4 py-2 rounded transition duration-150 transform hover:scale-110"
        id="maximize"
      >
        <Maximize class="w-6 h-6" />
      </button>
      <button
        class="text-[#a5adce] hover:text-white px-4 py-2 rounded transition duration-150 transform hover:scale-110"
        id="return"
      >
        <LogOut class="w-6 h-6" />
      </button>
    </div>
    <iframe
      id="display"
      class="w-full h-[calc(100%-64px)] bg-gray-100 rounded-lg"></iframe>
  </div>
</body>
<script is:inline src="/bm/index.js"></script>
<script src="@src/utils/as"></script>
<script is:inline src="/assets/v/config.js" defer></script>
<script is:inline src="/assets/v/bundle.js" defer></script>
<link rel="prefetch" href="/assets/sj/worker.js" />
<link rel="prefetch" href="/assets/sj/shared.js" />
<script is:inline src="/assets/sj/controller.js" defer></script>
