---
import "@src/main.css";
import {
  ArrowLeft,
  ArrowRight,
  LoaderCircle,
  Menu,
  RotateCw,
} from "lucide-astro";
---

<!doctype html>
<html lang="" "en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lunar</title>
    <script is:inline src="/assets/v/config.js" defer></script>
    <script is:inline src="/assets/v/bundle.js" defer></script>
    <link rel="prefetch" href="/assets/sj/worker.js" />
    <link rel="prefetch" href="/assets/sj/shared.js" />
  </head>

  <body id="side" class="relative">
    <div
      class="absolute border-r-[3px] border-black border-solid top-0 bg-background-overlay left-0 h-screen w-[150px] z-50"
    >
    </div>
    <div
      class="flex justify-between items-center bg-background-overlay p-4 rounded-lg space-x-4 z-30 ml-[150px]"
      id="navbar"
    >
      <div class="flex space-x-4">
        <a
          title="Forward"
          id="forward"
          class="text-[#a5adce] hover:text-white active:text-white transition duration-150 transform hover:translate-x-0.5"
          ><ArrowLeft /></a
        >
        <a
          title="Back"
          id="back"
          class="text-[#a5adce] hover:text-white active:text-white transition duration-150 transform hover:translate-x-0.5"
          ><ArrowRight /></a
        >
        <a
          title="Refresh"
          id="reload"
          class="text-[#a5adce] hover:text-white active:text-white transition duration-150 transform hover:translate-x-0.5"
          ><RotateCw /></a
        >
      </div>

      <form method="post" class="flex-grow mx-4" id="fm">
        <input
          id="in"
          type="text"
          placeholder="Search..."
          class="text-center w-full bg-transparent text-white p-2 rounded-full border border-[#a5adce] placeholder-white focus:outline-none focus:ring-2 focus:ring-[#a5adce]"
        />
      </form>
    </div>

    <div
      id="starting"
      class="text-center mt-10 p-4 rounded-lg space-x-4 z-30 relative ml-[150px]"
    >
      <h1 class="text-6xl ml-32 mt-52 text-text-HEADER font-bold">Lunar</h1>
    </div>

    <div id="load" class="z-10 ml-60 relative hidden">
      <LoaderCircle
        class="text-[#a5adce] w-16 h-12 mx-auto mt-[220px] animate-spin"
      />
      <h1 class="text-center mt-10 text-4xl text-text-HEADER font-bold">
        Please wait while Lunar loads your content.
      </h1>
    </div>

    <iframe
      id="frame"
      title=""
      class="absolute top-[64px] left-[150px] z-20 h-[calc(100vh-64px)] w-[calc(100vw-150px)]"
    ></iframe>

    <script src="../utils/cloak.ts"></script>
    <script is:inline src="/assets/sj/controller.js" defer></script>
    <script src="../utils/main.ts"></script>
  </body>
</html>
