---
import '@src/main.css';
import {
  ArrowLeft,
  ArrowRight,
  LoaderCircle,
  MoonStar,
  RotateCw,
  Gamepad,
  Grid2X2Plus,
  Settings,
  Maximize,
  SquareChevronRight,
  Star,
} from 'lucide-astro';
---

<!doctype html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>

  <body id="side" class="relative h-screen overflow-hidden">
    <div
      class="absolute border-r-[3px] border-black border-solid top-0 bg-background-overlay left-0 h-screen w-[62px] z-50 flex flex-col items-center pt-4"
    >
      <a href="./" id="moonStar">
        <MoonStar
          class="text-[#a5adce] hover:text-blue-400 w-8 h-8 mt-[6px] transition duration-150 transform hover:scale-110"
        />
      </a>
      <hr class="w-8 border-t-[2px] border-[#a5adce] my-4" />
      <div
        class="mb-[240px] flex-grow flex flex-col items-center justify-center space-y-4"
      >
        <div id="game">
          <Gamepad
            class="text-[#a5adce] hover:text-white w-8 h-8 transition duration-150 transform hover:scale-110"
          />
        </div>
        <div id="app">
          <Grid2X2Plus
            class="text-[#a5adce] hover:text-white w-8 h-8 transition duration-150 transform hover:scale-110"
          />
        </div>
        <div id="set">
          <Settings
            class="text-[#a5adce] hover:text-white w-8 h-8 transition duration-150 transform hover:scale-110"
          />
        </div>
      </div>
    </div>

    <div
      class="flex justify-between items-center bg-background-overlay p-4 rounded-lg space-x-4 z-30 ml-[62px]"
      id="navbar"
    >
      <div class="flex space-x-4">
        <a
          title="Forward"
          id="forward"
          class="relative group w-8 h-8 flex items-center justify-center"
        >
          <ArrowLeft
            alt="forward"
            class="text-[#a5adce] group-hover:text-white w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
          />
          <div
            class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
          >
          </div>
        </a>

        <a
          title="Back"
          id="back"
          class="relative group w-8 h-8 flex items-center justify-center"
        >
          <ArrowRight
            alt="back"
            class="text-[#a5adce] group-hover:text-white w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
          />
          <div
            class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
          >
          </div>
        </a>
        <a
          title="Refresh"
          id="reload"
          class="relative group w-8 h-8 flex items-center justify-center"
        >
          <RotateCw
            alt="refresh"
            class="text-[#a5adce] group-hover:animate-spin group-hover:text-white w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
          />
          <div
            class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
          >
          </div>
        </a>
      </div>

      <form method="post" class="flex-grow mx-4" id="form">
        <input
          id="input"
          type="text"
          placeholder="Search..."
          class="text-center w-full bg-transparent text-white p-2 rounded-full border border-[#a5adce] placeholder-white focus:outline-none focus:ring-2 focus:ring-[#a5adce]"
        />
      </form>
      <button
        id="fav"
        class="relative group w-8 h-8 flex items-center justify-center"
      >
        <Star
          class="text-[#a5adce] group-hover:text-yellow-400 w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
        />
        <div
          class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
        >
        </div>
      </button>
      <button
        id="console"
        class="relative group w-8 h-8 flex items-center justify-center"
      >
        <SquareChevronRight
          class="text-[#a5adce] group-hover:text-white w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
        />
        <div
          class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
        >
        </div>
      </button>
      <button
        id="full-screen"
        class="relative group w-8 h-8 flex items-center justify-center"
      >
        <Maximize
          class="text-[#a5adce] group-hover:text-white w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
        />
        <div
          class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
        >
        </div>
      </button>
    </div>

    <div
      id="starting"
      class="text-center mt-10 p-4 rounded-lg space-x-4 z-30 relative ml-[150px]"
    >
      <h1 class="text-6xl ml-35 mt-52 text-text-HEADER font-bold">Lunar</h1>
    </div>

    <div id="load" class="z-10 ml-60 relative hidden">
      <LoaderCircle
        class="text-[#a5adce] w-16 h-12 mx-auto mt-[220px] animate-spin"
      />
      <h1 class="text-center mt-10 text-4xl text-text-HEADER font-bold">
        Please wait while Lunar loads your content.
      </h1>
    </div>

    <iframe
      id="frame"
      title=""
      class="fixed top-[64px] left-[62px] z-20 h-[calc(100vh-64px)] w-[calc(100%-62px)]"
    >
    </iframe>
    <script is:inline src="/bm/index.js"></script>
    <script is:inline src="/assets/v/config.js" defer></script>
    <script is:inline src="/assets/v/bundle.js" defer></script>
    <link rel="prefetch" href="/assets/sj/worker.js" />
    <link rel="prefetch" href="/assets/sj/shared.js" />
    <script is:inline src="/assets/sj/controller.js" defer></script>
    <script src="@src/utils/main.ts"></script>
    <script src="@src/utils/browse.ts"></script>
    <script src="@src/utils/cloak.ts"></script>
  </body>
</html>
