---
import '@src/main.css';
---

<!doctype html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script src="@src/utils/st.ts"></script>
  </head>
  <body> </body>
</html>
