---
const { games } = Astro.props;
import { Image } from "astro:assets";

type Asset = {
  name: string;
  description: string;
  image: string;
  error: string;
  say: string;
};
---

<div class="flex flex-row gap-6 p-4 overflow-x-auto">
  {
    games.length === 0 ? (
      <p class="text-center text-gray-500">No games found</p>
    ) : (
      games.map((game: Asset) => (
        <button
          id="data-2"
          data-json={JSON.stringify(game)}
          class="flex flex-col items-center shadow-lg rounded-lg p-4 transition-transform transform hover:scale-105 hover:shadow-xl"
        >
          <div class="relative game-card group">
            <Image
              src={game.image}
              alt={game.name}
              width={140}
              height={140}
              loading="lazy"
              class="rounded-lg transition-transform duration-300 group-hover:blur-sm"
            />
            <div class="absolute bottom-2 left-2 text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100 text-lg font-semibold font-poppins tracking-wide drop-shadow-md p-1">
              {game.name}
            </div>
          </div>
        </button>
      ))
    )
  }
</div>

<script src="@src/utils/as"></script>
