@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #24273a;
    --background-overlay: #1e1e2e;
    --text-header: #5c5f77;
    --text-secondary: #bd93f9;
  }

  body {
    @apply bg-background;
  }
}
